* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #303841 !important;
  font-family: "Libre Franklin" !important;
  color: #eeeeee !important;
}
body .box {
  position: fixed;
  top: 200px;
  left: 300px;
  height: 250px;
  width: 200px;
  background: #ee159b;
  filter: blur(100px);
  z-index: -2;
}
body .box2 {
  position: fixed;
  top: 400px;
  right: 0;
  height: 200px;
  width: 200px;
  background: #00acb5;
  filter: blur(80px);
  z-index: -3;
}
@media only screen and (max-width: 576px) {
  body .box {
    top: 500px;
    left: 250px;
    height: 90px;
    width: 80px;
    filter: blur(50px);
  }
  body .box2 {
    top: 100px;
    left: -100px;
  }
}

.back-top {
  position: fixed;
  z-index: 999;
  bottom: 12px;
  right: 12px;
  display: none;
  transition: all 2s;
}
.back-top a {
  color: #00adb5;
}
.back-top:hover a {
  color: rgba(0, 172, 181, 0.6039215686);
}

.home {
  height: auto;
  margin-top: 10px;
}
@media only screen and (min-width: 576px) {
  .home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }
}

.navbar {
  z-index: 999;
  width: 100%;
}
.navbar a {
  color: #eeeeee;
  text-decoration: none;
  position: relative;
  font-size: 14px;
}
.navbar a::after {
  background: none repeat scroll 0 0 transparent;
  width: 200px;
  bottom: -20;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #00adb5 !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover::after {
  width: 100%;
  left: 0;
}
.navbar a:hover {
  color: rgba(238, 238, 238, 0.8);
}
.navbar .navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .navbar-list li {
  margin: 0 40px;
}
.navbar .navbar-list .icon-nav {
  display: none;
}
.navbar .contact-email {
  width: 91px;
}
.navbar i {
  color: #00adb5 !important;
}
@media only screen and (max-width: 576px) {
  .navbar a::after {
    display: none;
  }
  .navbar a:hover::after {
    display: none;
  }
  .navbar .navbar-responsive {
    display: flex;
    justify-content: space-between;
  }
  .navbar .container {
    padding: 10px 20px;
  }
  .navbar .navbar-list .text-list {
    display: none;
  }
  .navbar .navbar-list .icon-nav {
    display: block;
    color: #00adb5 !important;
    margin: 0 20px;
  }
  .navbar .contact-email {
    margin-right: 50px;
    width: 0;
  }
}

.about .img-profile {
  width: 200px;
  border: 5px solid #00adb5 !important;
  border-radius: 0 50px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
  animation: float 6s ease-in-out infinite;
  transition: all 1s;
}
.about .img-profile:hover {
  animation: none;
  box-shadow: 0 0 30px #00adb5 !important;
  border-radius: 50px 0;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-30px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
}
.about .about-title {
  font-size: 43px;
  font-weight: bold;
}
.about .about-description {
  font-size: 16px;
}
@media only screen and (max-width: 576px) {
  .about .about-title {
    font-size: 24px;
  }
  .about .about-description {
    font-size: 14px;
  }
}

.social-media {
  position: relative;
}
.social-media a {
  color: #00adb5;
  text-decoration: none;
}
.social-media .github-icon,
.social-media .linkedin-icon,
.social-media .google-icon {
  margin: 20px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: #3a4750 !important;
  transition: all 0.3s;
}
.social-media .github-icon:hover {
  box-shadow: 0px 0px 20px 0px #000000;
  color: #000000;
}
.social-media .linkedin-icon:hover {
  box-shadow: 0px 0px 20px 0px #0077b5;
  color: #0077b5;
}
.social-media .google-icon:hover {
  box-shadow: 0px 0px 20px 0px #e76969;
  color: #e76969;
}

.btn-resume {
  padding: 0.8em 1.8em;
  border: none;
  position: relative;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 1;
  color: black;
  transition: all 0.4s;
  text-decoration: none;
  cursor: pointer;
}
.btn-resume:hover {
  color: #000000;
}
.btn-resume::after, .btn-resume::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.btn-resume::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #00acb5;
  border-radius: 10px;
}
.btn-resume::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2196078431);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 50px;
}
.btn-resume:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.btn-resume:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.btn-resume:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.skill {
  margin-top: 100px;
}
.skill .card-skill {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: #3a4750 !important;
}
.skill .card-skill .list-skill {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.19);
  transition: 500ms ease;
}
.skill .card-skill .list-skill .fa-brands {
  font-size: 80px;
}
.skill .card-skill .list-skill .fa-brands .graphql-icon {
  width: 80px;
}
.skill .card-skill .btn-card-skill {
  position: relative;
  width: 50%;
  border: none;
  background-color: #00adb5 !important;
  border-radius: 20px;
  padding: 6px 12px;
  z-index: 10;
  opacity: 0;
  transition: 0.3s ease-out;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.skill .card-skill .btn-card-skill:hover {
  box-shadow: 0px 0px 20px 0px #00adb5 !important;
}
.skill .card-skill .btn-card-skill:hover .tooltip {
  transform: translate(-50%, 0);
}
.skill .card-skill .btn-card-skill .tooltip {
  position: absolute;
  left: 50%;
  bottom: 100%;
  opacity: 0;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #000;
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
  white-space: nowrap;
  transform: translate(-50%, 1em);
  transition: all 0.15s ease-in-out;
  color: #eeeeee !important;
}
.skill .card-skill .btn-card-skill .tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top-color: #000;
  transform: translate(-50%, 0);
}
.skill .card-skill .btn-card-skill .tooltip.show {
  opacity: 1;
}
.skill .card-skill .skill-text {
  bottom: -9px;
  transition: 1s ease;
  opacity: 1;
}
.skill .card-skill:hover .btn-card-skill {
  opacity: 1;
}
.skill .card-skill:hover .list-skill {
  transform: scale(1.1, 1.2);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.493);
}
.skill .card-skill:hover .skill-text {
  opacity: 0;
}
@media only screen and (max-width: 576px) {
  .skill .card-skill {
    width: 150px;
    height: 150px;
  }
  .skill .card-skill .list-skill {
    width: 100%;
    height: 100%;
  }
  .skill .card-skill .list-skill .fa-brands {
    font-size: 50px;
  }
  .skill .card-skill .list-skill .fa-brands .graphql-icon {
    width: 50px;
  }
  .skill .card-skill .btn-card-skill {
    opacity: 1;
    width: auto;
  }
  .skill .card-skill .btn-card-skill .tooltip {
    font-size: 12px;
  }
}

.getintouch {
  margin-top: 100px;
}
.getintouch .container-getintouch {
  background-color: rgba(58, 71, 80, 0.6039215686);
  height: 100%;
  padding-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.411);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.getintouch .container-getintouch .container-contact {
  box-shadow: 0 0 25px inset rgba(0, 0, 0, 0.411);
  padding-top: 20px;
  padding-bottom: 40px;
}
.getintouch .container-getintouch .container-contact .whatsapp {
  background-color: #29ad3e;
  padding: 10px 70px;
  text-decoration: none;
  color: #eeeeee !important;
  border-radius: 20px;
  transition: all 0.2s;
}
.getintouch .container-getintouch .container-contact .whatsapp:hover {
  box-shadow: 0 0 10px #29bd42;
}
.getintouch .container-getintouch .phone-icon {
  position: absolute;
  top: 0px;
  left: 100px;
}
.getintouch .container-getintouch .phone-icon .fa-phone {
  color: #00a6ff;
  filter: drop-shadow(0px 0px 15px #00a6ff);
}
.getintouch .container-getintouch .paper-icon {
  position: absolute;
  top: 270px;
  left: 200px;
}
.getintouch .container-getintouch .paper-icon .fa-paper-plane {
  color: #ee159b;
  filter: drop-shadow(0px 0px 15px #ee159b);
}
.getintouch .container-getintouch .message-icon {
  position: absolute;
  top: 90px;
  left: 370px;
}
.getintouch .container-getintouch .message-icon .fa-comment {
  color: #ae00ff;
  filter: drop-shadow(0px 0px 15px #ae00ff);
}
.getintouch .container-getintouch .field {
  width: 80%;
  height: 90px;
}
.getintouch .container-getintouch .field .labl {
  top: 0;
  left: 0.2em;
  pointer-events: none;
  transition: 0.2s ease all;
}
.getintouch .container-getintouch .field .inpt {
  padding: 5px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #eeeeee !important;
  color: #eeeeee !important;
  transition: 2s ease-in-out all;
}
.getintouch .container-getintouch .field .inpt:focus {
  outline: none;
  -o-border-image: linear-gradient(to right, #00adb5, #ae00ff);
     border-image: linear-gradient(to right, #00adb5, #ae00ff);
  border-image-slice: 1;
}
.getintouch .container-getintouch .field .inpt:focus ~ .labl {
  top: -25px;
  color: #00adb5 !important;
}
.getintouch .container-getintouch .field .inpt:valid ~ .labl {
  top: -25px;
  color: #00adb5 !important;
}
.getintouch .container-getintouch .field .inpt-message {
  border-right: 2px solid #eeeeee !important;
}
.getintouch .container-getintouch .btn-send {
  width: 80%;
  display: flex;
  justify-content: center;
}
.getintouch .container-getintouch .btn-send .btn-resume::after {
  font: var(--fa-font-solid);
  opacity: var(--fa-secondary-opacity, 0.7);
  content: "\f1d8";
  color: #303841 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.getintouch .container-getintouch .btn-send .btn-resume:hover::after {
  font-size: 20px;
  opacity: var(--fa-secondary-opacity, 1);
}
@media only screen and (max-width: 576px) {
  .getintouch .container-getintouch {
    border-radius: 0;
  }
  .getintouch .container-getintouch .paralax {
    display: none;
  }
  .getintouch .container-getintouch .field {
    width: 100%;
  }
  .getintouch .container-getintouch .btn-send {
    width: 100%;
  }
}

.btn-project {
  display: block;
  background-color: transparent;
  border: 2px solid #00adb5 !important;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 14px;
}
.btn-project:hover {
  background-color: #00adb5 !important;
  box-shadow: 0px 0px 20px 0px #00adb5 !important;
}

.project {
  margin: 200px 0;
  padding-bottom: 30px;
  background-image: url("../assets/parallax-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0px 30px 20px -20px #000000 inset, 0px -30px 20px -20px #000000 inset;
}
.project .list-project {
  position: relative;
}
.project .list-project .img-project {
  filter: brightness(90%);
}
.project .list-project .description-project {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7882352941);
  opacity: 0;
  transition: opacity 0.5s;
}
.project .list-project .description-project .tag-skill {
  font-size: 12px;
  color: #a8a8a8;
  word-spacing: 10px;
}
.project .list-project .description-project .btn-project {
  display: block;
  background-color: transparent;
  border: 2px solid #00adb5 !important;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 14px;
}
.project .list-project .description-project .btn-project a {
  text-decoration: none;
  color: #00adb5 !important;
}
.project .list-project .description-project .btn-project:hover {
  background-color: #00adb5 !important;
  box-shadow: 0px 0px 20px 0px #00adb5 !important;
}
.project .list-project .description-project .btn-project:hover a {
  color: #303841 !important;
}
.project .list-project .description-project:hover {
  opacity: 1;
}
@media only screen and (max-width: 576px) {
  .project .list-project .description-project {
    text-align: center;
    font-size: 12px;
    padding: 5px;
  }
  .project .list-project .description-project .tag-skill {
    font-size: 10px;
  }
  .project .list-project .description-project .btn-project {
    font-size: 10px;
    padding: 4px 8px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  height: 50px;
  width: 100%;
  font-size: 14px;
  background-color: #3a4750 !important;
  text-align: center;
}/*# sourceMappingURL=style.css.map */